
.status-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.status-bar button {
    padding: 3px;
    margin: 3px;
    font: inherit;
    border-radius: 20px;
    cursor: pointer;
}
.status-bar button:hover {
    background-color: aqua;
    border-color: aqua;
}

.book-list-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.book-list-column {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}