@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
}
.add-new-book {
    font-family: inherit;
    font-size: 1.3rem;
    width: 70%;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 20px;
    cursor: pointer;
}
.add-new-book:hover {
    background-color: aqua;
}
.new-book-form {
    background-color: #eee;
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
    padding: 3px;
    text-align: left;
}
input{
    display: inline!important;
}
input[id="name"]{
    width: 50%!important;
}
input[type="number"]{
    width: 12%;
}
select{
    font: inherit;
    margin-bottom: 5px;
    border-radius: 10px;
}
.book-already-present{
    color: red;
}
.add-delete {
    display: flex;
    justify-content: space-around;
}
.add,
.delete {
    font: inherit;
    position: relative;
    width: 50%;
    padding: 3px;
    border: none;
    cursor: pointer;
}
.add {
    left: -3px;
    top: 3px;
    border-bottom-left-radius: 15px;
}
.delete {
    left: 3px;
    top: 3px;
    border-bottom-right-radius: 15px;
}
.add:hover {
    background-color: green;
    color: #eee;
}
.delete:hover {
    background-color: red;
    color: #eee;
}