@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}
.list-item {
    list-style-type: none;
    width: 98%;
    margin-bottom: 3px;
    border-radius: 10px;
}
.view-book {
    width: 100%;
    font: inherit;
    font-style: italic;
    padding: 5px;
}
.view-book:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
.pages-read {
    background-color: inherit;
    font: inherit;
}
.pages-read::-webkit-inner-spin-button,
.pages-read::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input{
    display: inline;
}
.update-delete {
    display: flex;
    justify-content: space-evenly;
}
.update-delete button {
    border: 2px black solid;
    border-radius: 15px;
    padding: 1px;
    margin: 2px;
    font: inherit;
    cursor: pointer;
}
.update-progress:hover {
    background-color: blue;
    border-color: blue;
    color: #eee;
}
.set-curr-reading:hover {
    background-color: green;
    border-color: green;
    color: #eee;
}
.delete-book:hover {
    background-color: red;
    border-color: red;
    color: #eee;
}