.home-navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255,255,255,0.8);
    margin-bottom: 3px;
    padding: 10px;
    position:sticky;
    top:0;
}
.title {
    font-size: 2rem;
    font-weight: bolder;
    position: fixed;
    margin-left: 32px;
    top: 7px;
}
.title:hover{
    cursor: pointer;
}
.userName{
    display: flex;
    font-size: 1.2rem;
    font-weight:bolder;
    align-items:center;
    margin-left: 50px;
}
.logout{
    font: inherit;
    padding: 3px;
    border-radius: 10px;
    cursor:pointer;
    margin-right: 10px;
}
.logout:hover{
    background-color: red;
    color: #eee;
}