.home-navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 32px;
    top: 7px;
}

.title:hover {
    cursor: pointer;
}

.userName {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 40%;
}

.logout {
    font: inherit;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.logout:hover {
    background-color: red;
    color: #eee;
}

@media screen and (max-width: 743px) {
    .home-navbar {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .title,
    .logout {
        width: fit-content;
        margin-bottom: 10px;
    }

    .userName {
        width: fit-content;
    }
}