@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/20160523135836-books-sale-reading-store.jpeg");
    background-size: cover;
    background-attachment:fixed;
}
/* Navbar */
.navbar{
    font: inherit;
    font-size: 2rem;
    font-weight:bolder;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.title{
    margin: auto;
    width: fit-content;
    cursor:pointer;
}
.container{
    background-color: rgba(255, 255, 255, 0.502);
    width:70%;
    margin:0 auto;
    text-align: center;
    min-height: 100vh;
    border-radius: 20px;
}
/*Add New Book Button*/
.add-new-book{
    font-size: 1.3rem;
    font-family: inherit;
    width: 70%;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius:20px;
}
.add-new-book:hover{
    cursor: pointer;
    background-color: aqua;
}
.new-book-form{
    background-color: #eee;
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
    padding: 3px;
    text-align: left;
    display: none;
}
/* .new-book-details input{
    font: inherit;
} */
input{
    padding: 3px;
}
select{
    font: inherit;
}
.add-delete{
    padding: 3px;
    display: flex;
    justify-content: space-around;
}
.add{
    font:inherit;
    border-bottom-left-radius: 15px;
}
.delete{
    font:inherit;
    border-bottom-right-radius: 15px;
}
.add,.delete{
    width: 50%;
    padding: 3px;
    border:none;
    cursor: pointer;
}
.add:hover{
    background-color: green;
    color: #eee;
}
.delete:hover{
    background-color: red;
    color: #eee;
}
/* Status Bar */
.status-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.status-bar button{
    padding: 3px;
    margin: 3px;
    font: inherit;
    border-radius: 20px;
}
.status-bar button:hover{
    cursor:pointer;
    background-color: aqua;
}
/* Book List */
.book-list-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.book-list-column{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
/* Each Book */
.view-book{
    width: 100%;
    font: inherit;
    padding: 5px;
    /* margin-top: 0px; */
}
.view-book:hover{
    cursor: pointer;
    transform: translateY(-3px);
}
.list-item{
    list-style-type: none;
    width: 98%;
    margin-bottom: 3px;
    border-radius: 10px;
}
.pages-read{
    background-color: inherit;
    font: inherit;
}
.pages-read::-webkit-inner-spin-button,
.pages-read::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* In Each List Item */
.update-delete{
    display: flex;
    justify-content: space-evenly;
}
.update-delete button{
    border: 2px black solid;
    border-radius: 15px;
    padding: 1px;
    margin: 2px;
    font: inherit;
}
.update-delete button:hover{
    cursor:pointer;
}
.update-progress:hover{
    background-color: blue;
    color: #eee;
}
.set-curr-reading:hover{
    background-color: green;
    color: #eee;
}
.delete-book:hover{
    background-color: red;
    color: #eee;
}
.footer{
    color: black;
    font: inherit;
    font-weight:bold;
    text-align: center;
}